<!-- <mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav class="sidenav-bar" mode="over">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>fiber_new</mat-icon>Create
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <mat-icon>fiber_new</mat-icon>Create
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
  </mat-sidenav-content>
</mat-sidenav-container> -->


<mat-toolbar class="header">
    <mat-toolbar-row>
        <mat-menu #navMenu="matMenu">
            <button mat-menu-item routerLink="/create">Create</button>
            <button mat-menu-item routerLink="/pos">POS Details</button>
            <button mat-menu-item routerLink="/modify">Modify</button>
            <button mat-menu-item routerLink="/display">Display</button>
            <button mat-menu-item routerLink="/delete">Delete</button>
          </mat-menu>
      <button class="header-button" mat-button [matMenuTriggerFor]="navMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <button class="header-button" mat-button routerLink="/home">
          <mat-icon>home</mat-icon>
        </button>
      <span>Centre for Railway Information Centre</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">cris_hyd
        <mat-icon>keyboard_arrow_down
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
       <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>