mat-card {
  max-width: 85%; 
  margin: 10px auto;
}

mat-card-header {
  justify-content: center;
  text-align: center;
  padding-top: 11px;
  background-color: #C5E5EF;
  color: #004D8A;
}

.formcontrols {
  text-align: center;
}

.submitform, .resetform {
    padding: 5px 40px;
    margin-left: 15px;
    margin-right:15px;
    font-size: 18px;
}

.submitform{
    color: white;
    background-color: #85C81A;
}

.submitform:hover { 
    background-color: #DFF0D0;
    color: #266900;
}

.resetform{
    color: white;
    background-color: #F52F22;
}

.resetform:hover { 
    background-color: #F5DBD9;
    color: #F54F47;
}